/*BROAD STYLES*/
*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin: 0;
  padding: 0;
}

/*HEADER STYLES*/
header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.header-nav {
  display: flex;
  width: 100%;
}

.header-icons {
  width: 25px;
}

.header-nav input {
  border-bottom: 1px solid lightgrey;
  border-left: none;
  border-top: 1px solid lightgrey;
  flex: 1;
  height: 75px;
}

::placeholder {
  color: #afb6c0;
  opacity: 1;
}

.search-container {
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  height: 75px;
  padding: 25px 15px 0 25px;
}

.search-input {
  padding-left: 10px;
}

.search-input.small {
  display: none;
}

.search-icon {
  width: 20px;
}

.header-nav button {
  background-color: white;
  border: 1px solid lightgrey;
  height: 75px;
  width: 75px;
}

button:hover {
  background-color: lightgrey;
}

.page-title {
  flex: 3;
}

.title-icon {
  height: 16px;
}

h1 {
  color: #4e515d;
  margin: 50px 0 5px 50px;
}

p {
  color: #8c95a4;
  margin: 0 0 50px 50px;
}

a {
  color: #4fa9f3;
  text-decoration: none;
}

.open-section {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-left: 30px;
}

.open-icon {
  height: 12px;
  margin-top: 5px;
}

.open-button {
  background-color: white;
  border-radius: 100%;
  border: 1px solid lightgrey;
  height: 40px;
  margin: 0 5px;
  width: 40px;
}

.first-open {
  border-radius: 30px;
  color: #8c95a4;
  font-size: 14px;
  font-weight: bold;
  width: 100px;
}

.open-icons {
  padding-top: 5px;
  width: 15px;
}

.last {
  margin-right: 50px;
}

.content-nav {
  padding: 0 0 15px 42px;
  width: 95%;
}

.content-nav a {
  color: #8c95a4;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px 11px 10px;
  white-space: nowrap;
}

.content-nav a:hover {
  border-bottom: 4px solid #47a4f3;
}

.more-options {
  display: none;
  height: 14px;
}

/*SIDEBAR STYLES*/
.sidebar {
  background-color: #374050;
  color: #a2acbd;
  grid-row: span 2;
  order: -1;
}

.user-img {
  padding: 20px 0;
}

.user-img img {
  border-radius: 100%;
  display: block;
  height: 75px;
  margin: 0 auto;
  object-fit: cover;
  object-position: top;
  width: 75px;
}

figcaption {
  margin-top: 10px;
  text-align: center;
}

.sidebar-icons {
  height: 18px;
  padding-right: 15px;
  vertical-align: text-bottom;
}

.sidebar-tables {
  border-top: 2px solid #2b3240;
  padding: 15px 0 15px 0;
  width: 100%;
}

.sidebar-tables th {
  color: #67748b;
  font-size: 14px;
  padding: 10px 10px 10px 20px;
  text-align: left;
}

.sidebar-tables td {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 10px 10px 20px;
}

.sidebar-links:hover {
  background-color: #313948;
  border-left: 4px solid #47a4f3;
}

.checkboxes {
  display: none;
}

.checkmarks {
  height: 15px;
  margin-right: 5px;
  width: 15px;
}

/*MAIN CONTENT STYLES*/
main {
  background-color: #edf2f6;
  border-top: 1px solid lightgrey;
  display: flex;
  flex-wrap: wrap;
}

.graphs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 25px 25px 0 45px;
  width: 100%;
}


/*CIRCLE GRAPHS*/
.circle-graphs {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.single-chart {
  width: 200px;
}

.circle-chart {
  display: block;
  margin: 10px auto;
  max-height: 175px;
}

.circle-big {
  fill: none;
  stroke: #d8e3eb;
  stroke-width: 2.5;
}

.circle {
  animation: progress 3s ease-out forwards;
  fill: none;
  stroke-linecap: round;
  stroke-width: 2.5;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circle-chart.one .circle {
  stroke: #25a6f7;
}

.circle-chart.two .circle {
  stroke: #4CC790;
}

.circle-chart.three .circle {
  stroke: #ad6bae;
}

.lg-circle-text {
  fill: #666;
  font-size: 0.5em;
  text-anchor: middle;
}

.sml-circle-text {
  fill: #666;
  font-size: 4px;
  text-anchor: middle;
}

/*BAR GRAPH*/
.bar-graph {
  display: flex;
  flex-wrap: wrap;
}

.bar-graph figure {
  margin: 10px auto 10px auto;
}

.bar-graph-img {
  width: 450px;
}

.graph-buttons {
  background-color: white;
  border-radius: 30px;
  border: 1px solid lightgrey;
  color: #5b6677;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  margin: 10px auto;
  padding: 0 15px;
}

.graph-buttons.bar {
  margin-bottom: 20px;
}

/*COLLAPSE DIV*/
.collapse-div {
  margin: 20px 0;
  text-align: center;
  width: 100%;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}

.fancy button {
  display: inline-block;
  position: relative;
}

.fancy button:before, 
.fancy button:after {
  border-bottom: 1px solid lightgrey;
  content: "";
  height: 5px;
  position: absolute;
  top: 5px;
  width: 38vw; 
}

.fancy button:before {
  margin-right: 15px;
  right: 90%;
}

.fancy button:after {
  left: 90%;
  margin-left: 15px;
}

.collapse-button {
  border-radius: 100%;
  background-color: white;
  border: 1px solid lightgrey;
}

.up-arrow {
  margin-top: 5px;
  margin-bottom: 2px;
  height: 10px;
  width: 10px;
  transform: rotate(180deg);
}

/*JOB TABLE*/
.job-details {
  background-color: white;
  border-collapse: collapse;
  border-radius: 5px;
  color: #7c899e;
  flex: 2;
  margin: 25px 25px 25px 45px;
}

.edit-icon {
  padding-right: 5px;
  width: 16px;
}

.edit-button {
  background-color: #7e8ba4;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  padding: 10px 15px;
}

.job-details th {
  background-color: #717E93;
  border-radius: 5px 5px 0 0;
  border: none;
  color: white;
  font-size: 14px;
  padding: 20px;
  text-align: left;
}

.job-details td {
  border-bottom: 1px solid lightgrey;
  padding: 22px;
}

.bold-td {
  font-weight: bold;
  font-size: 14px;
}

.hiring-lead {
  align-items: center;
  display: flex;
}

.hiring-lead-img {
  border-radius: 100%;
  margin-right: 10px;
  width: 40px;
}

.last-row td {
  border-bottom: none;
}

/*ASIDE*/
aside {
  flex: 1;
  padding: 25px;
  padding-right: 50px;
}

.aside-icons {
  height: 16px;
  margin-right: 5px;
}

h2 {
  color: #717a89;
  font-size: 18px;
  margin: 35px 0 10px 0;
}

label {
  color: #8c95a4;
  font-size: 14px;
}

.post-buttons {
  border-radius: 5px;
  border: none;
  color: white;
  height: 45px;
  margin: 0 auto 10px auto;
  width: 100%;
}

.post-buttons img {
  height: 16px;
  margin-right: 15px;
}

.post-buttons:hover {
  background-color: #374050;
}

.facebook {
  background-color: #5070bb;
}

.twitter {
  background-color: #47a8e9;
}

.linkedin {
  background-color: #337db6;
}

.copy-wrapper {
  border-bottom: 2px solid lightgrey;
  display: flex;
  padding: 10px 0 35px 0;
}

.copy-link {
  border-radius: 5px 0 0 5px;
  border-right: none;
  border: 1px solid lightgrey;
  flex: 1;
  height: 40px;
  padding-left: 15px;
}

.copy-button {
  background-color: #67b8bf;
  border-radius: 0 5px 5px 0;
  border: none;
  color: white;
  height: 40px;
}

.email-input {
  border-radius: 5px 0 0 5px;
  border: 1px solid lightgrey;
  height: 40px;
  margin-top: 10px;
  padding-left: 15px;
  width: 100%;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1350px) {
  .graphs {
    grid-template-columns: 1fr;
  }

  .graph-buttons.circle {
    order: -1;
  }

  .circle-graphs {
    order: -1;
  }

  .bar-graph {
    margin-top: 25px;
  }

}

@media screen and (max-width: 1200px) {
  .fancy button:before, 
  .fancy button:after {
    width: 30vw; 
  }
}

@media screen and (max-width: 1020px) {
  main {
    flex-direction: column;
  }

  aside {
    padding-right: 25px;
  }

  .hide-nav {
    display: none;
    margin-top: 10px;
  }

  .more-options {
    display: inline-block;
  }

  .graphs {
    margin-left: 0;
  }

  .job-details {
    margin-left: 25px;
  }
}

@media screen and (max-width: 875px) {
  body {
    display: block;
  }

  main {
    padding: 0;
  }

  .open-section {
    justify-content: flex-start;
    margin-bottom: 30px;
    margin-left: 40px;
  }

  .sidebar {
    display: none;
  }

  .graphs {
    margin: 0;
  }

  .circle-graphs {
    flex-direction: column;
  }

  .fancy button:before, 
  .fancy button:after {
    width: 38vw; 
  }
}

@media screen and (max-width: 600px) {
  .hidden-button {
    display: none;
  }
}

@media screen and (max-width: 475px) {
   h1,
  .location-name,
  .content-nav,
  .open-section {
    justify-content: center;
    margin-left: 0;
    text-align: center;
  }

  .circle-graphs {
    margin: 10px;
  }

  .open-button.last {
    margin-right: 0;
  }

  .job-details td {
    padding: 10px;
  }
  
  .open-section {
    padding: 0;
  }

  .content-nav {
    padding-left: 0;
  }

  .bar-graph-img {
    margin-bottom: 20px;
    width: 300px;
  }

  .small-hide-nav {
    display: none;
  }

  .graph-buttons {
    margin-bottom: 30px;
  }

  .search-input {
    display: none;
  }

  .search-input.small {
    display: inline-block;
  }

}













